h1,h2{
    color:green;
    font-size:100px;
    text-transform:uppercase;
}

h3 {
    color :pink;
    font-size:95px;
    text-transform:lowercase ;
}
.classSelector{
    color: blue;
    font-size:medium;
    font-family:'Times New Roman', Times, serif;
    text-decoration:overline;

}
#header{
    color:blueviolet;
    font-size: 100px;
}
s