ul{
    list-style-type: none;
    color:brown;
    background-color:pink ;
}

li{
    padding: 10px;
    display: inline;
}

body{
    background-color:aqua;
}
@media screen and(min-width:480px) {
    body{
        background-color:aquamarine;
    }
    
}
